* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 16px;
  
}

.product-price-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 116px;
}

.main-title {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  margin-top: 220px;
  margin-bottom: 110px;
  color: #515076;
  z-index: 10;
}

.main-container {
  max-width: 1120px;
  position: relative;
  margin: 0 auto;
}

.top-drawing {
  z-index: -1;
  position: absolute;
  top: -390px;
  width: 100%;
  height: 500px;
  background-image: url('images/background-pattern.png');
  background-repeat: no-repeat;
  background-position: left top;
  margin: 0;
  padding: 0;
  width: 100%;
}

#change-color-button {
  background-color: rgb(9, 222, 222);
  flood-color: #ffffff;
}

#change-color-button.active {
  background-color: #cc3600;
  color: white;
}